@page "/quotes";
@using BlazorApp1.Components.Pages.Quotes.components
@attribute [StreamRendering]
@* @rendermode InteractiveServer *@
@inject QuoteService QuoteService;



<div class="mx-auto container">
    <QuotesComponent @rendermode="InteractiveServer" quotes="quotes" />
</div>


@code {

    public QuoteModel? quotes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        quotes =await QuoteService.GetAllQuotes("/quotes") ?? new QuoteModel();
    }
}
