@page "/tests/one"
@using BlazorApp1.Components.Share

<h3>TestOne</h3>

<div class="row g-2 ">
    <CardComponent Name="Aung" Color="red" />    
    <CardComponent Name="Nyein" Color="green" />
    <CardComponent Name="Chan" Color="blue"/>
</div>

@code {

}
