

<div>
    @if (quotes is not null && quotes?.quotes is not null)
    {
        <div class="my-2">
            <h3>Quotes</h3>
            <ul class="list-group">
                @foreach (var quote in quotes.quotes)
                {
                    if (quote is not null)
                    {
                        <QuoteComponent @rendermode="InteractiveServer" quote="quote"/>
                    }
                }
            </ul>
        </div>
    }
    else
    {
        <p class="text-danger">Loading</p>
    }
</div>


@code {
    [Parameter]
    public QuoteModel? quotes { get; set; } 
}
